.input-message-form {
  border-radius: 60px;
  position: relative;
  display: table;
  width: 100%;
}
.input-message-form__input {
  border-radius: 60px;
  align-items: center;
  table-layout: fixed;
  justify-content: center;
  display: block;
  height: 7vh;
  border: 0;
  padding-left: 20px;
  width: 80%;
}
.input-message-form__button {
  border-radius: 30px;
  border: 0;
  position: absolute;
  width: 7vh;
  bottom: -4px;

  right: 0px;
  padding: 0;
}
.input-message-form__icon {
  width: 7vh;
  height: 7vh;
}
.submit-telephone-number {
  border-radius: 30px;
  border: 0;
  position: absolute;
  width: 7vh;
  bottom: -4px;
  right: 0px;
  padding: 0;
}
.input-telephone-number {
  border-radius: 60px;
  align-items: center;
  table-layout: fixed;
  justify-content: center;
  display: block;
  height: 7vh;
  border: 0;
  padding-left: 20px;
  width: 70%;
  background-color: #f2f3f5;
}
