.user-sign-up {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #e1e1e1;
  justify-content: center;
  align-items: center;
}
.user-sign-up__container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.user-sign-up__input {
  border-radius: 10px;
  border: 0;
  padding-left: 20px;
  height: 5vh;
  width: 40vw;
}
