.message {
  display: block;
  float: right;
  clear: both;
  text-align: center;
  font-size: 14px;
  padding: 15px 20px 15px 17px;
  border-radius: 10px;
}
.sent {
  background-color: #61c554;
  color: #ffffff;
  float: right;
  clear: both;
  margin-top: 35px;
  margin-right: 20px;
}
.accepted {
  background-color: #e8ecef;
  color: #000000;
  float: left;
  clear: both;
  border-radius: 10px;
  margin-top: 35px;
  margin-left: 20px;
}
