* {
  font-family: "Roboto";
  font-weight: 400;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(/src/fonts/Roboto-Regular.woff2);
  src: url(/src/fonts/Roboto-Bold.woff2);
}
body {
  margin: 0;
}
